@font-face {
	font-family:'BauTF-Regular';
	src: url('webfont/BauTF-Regular.eot'); /* IE9 Compat Modes */
	src: url('webfont/BauTF-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('webfont/BauTF-Regular.woff') format('woff'), /* Modern Browsers */
		url('webfont/BauTF-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('webfont/BauTF-Regular.svg#196440deb6ec563a68a0e5ef6f1d9439') format('svg'); /* Legacy iOS */
	font-style: normal;
	font-weight: 400;
}

@mixin bau {
	font-family: 'BauTF-Regular', Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
}

h1,h2,h3,h4,h5,h6,b,strong {
	font-weight:normal;
}

@font-face {
	font-family: 'CourierSans';
	src: url('webfont/CourierSans-Light.eot'); /* IE9 Compat Modes */
	src: url('webfont/CourierSans-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('webfont/CourierSans-Light.woff') format('woff'), /* Modern Browsers */
		url('webfont/CourierSans-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('webfont/CourierSans-Light.svg#0dde3885dfd146f909ad9133af3c5bc6') format('svg'); /* Legacy iOS */
	font-style: normal;
	font-weight: 200;
}

@mixin courier {
	font-family: 'CourierSans', 'Courier New', Courier, monospace;
	font-style: normal;
	font-weight: 200;
}

.smallcap {
	font-size:80%;
	text-transform:uppercase;
}

body { text-align:left; font-family: 'CourierSans', 'Courier New', Courier, monospace;font-style: normal;font-weight: 200; background-color:#f6f6f6; }
h1 { margin:0 0 40px 80px; }
	h1 a { border:none; }
a { color:#252525; text-decoration: none;  border-bottom: 1px solid #bdbdbd;}
	a:HOVER { color:#252525; text-decoration: none;  border-bottom: 1px solid #666; }

.no-choice { position:relative; z-index:10; padding:20px 0; }
	.no-choice ul { margin-left:80px; padding:0px; list-style:none; }
	.no-choice ul li { margin-bottom: 20px; }
	.no-choice h2 { margin:0px 0 30px; font-weight:normal; font-size:16px; }


body { padding:0; margin:0; background-color:#fff; }
	ul { list-style:none; padding:0; margin:0; }
	.presentation-wrap { position:relative; margin:auto; width:100%; }
	.presentation-images { position:relative;}
	.presentation-images li { display:none;overflow:hidden;  }
	.presentation-images li.active { display:block; }
	.presentation-images li img { width:100%; height:auto; display:block; margin:auto; max-width: 100%; }
	.image-nav {position:absolute;top:0;left:0;width:5%;height:100%; opacity:0;cursor:pointer;}
	.next-img {left:auto;right:0;}
	.scroller {overflow:visible;position:auto;}
	.header {
		position:fixed;
		height:0 !important;
		padding-bottom:20%;
		display:none;
	}
	.iphone .header {
		display:block;
	}
	.instructions-wrap {
		opacity:0;
		position:fixed;
		pointer-events:none;
		left:0;
		top:0;
		width:100%;
		height:100%;
		z-index:1;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		align-items: center;
		justify-content: center;
		-webkit-box-pack: center;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-moz-box-align: center;
		-ms-flex-align: center;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-moz-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		flex-wrap: wrap;
		-moz-transition-duration:    0.3s;
		-o-transition-duration:      0.3s;
		-webkit-transition-duration: 0.3s;
		transition-duration:         0.3s;
	}
	.instructions-wrap.showInstructions {
		opacity: 1;
	}
	.instructions-wrap .instructions {
		/*background-color:white;*/
		background-color:black;
		color:white;
		/*border:2px solid white;*/
		text-align: center;
		font-size:18px;
	}
	.instructions-wrap .instructions u {
		text-decoration: none;
		border-bottom:1px solid white;
	}
	.instructions-wrap .instructions .inner {
		padding:20px 35px;
	}
	@media (min-width:736px){
		.iphone .presentation-wrap { width:425px; height:675px; margin:49px auto 0; padding:96px 0; background-image:url(../assets/iphone_6_illustration_grey.png); background-repeat:no-repeat;}
		.iphone .presentation-wrap ul { width:377px; height:676px; margin:auto;}
		.iphone .presentation-wrap ul li { position:absolute;top:0;left:0;width:100%;height:100%;overflow:auto;}
		.iphone .scroller {overflow:auto;position:absolute;}
		.iphone .header {
			position:relative;
			-webkit-backface-visibility:hidden;
		}
	}

.annotations {
	position:fixed;bottom:0px;left:0px;
	z-index:20;
}
.annotations.none-available { display:none; }
.annotate-helper { position:absolute;bottom:20px;left:20px; background:white;border:solid 2px black;border-radius:50%; display:block;width:20px;height:20px;text-align:center;line-height:20px;cursor:pointer; }
.annotation { position:absolute;bottom:20px;left:45px;background:white;padding:3px;border:solid 2px black;min-width:300px; display:none; }
.annotations-on .annotation.active { display:block; }

.proj-20160420_mobile .presentation-item-1 .header { display:none; }
.proj-20160420_wider .presentation-wrap { max-width:1300px; }
